<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Email AI Classifier</title>
    <link rel="stylesheet" href="/static/landing.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  </head>
  <body>
    <main class="landing-container">
      <div class="landing-card">
        <img src="/static/logo.png" alt="Logo" class="landing-logo" />
        <h1>Email AI Classifier</h1>
        <p>
          Automatize a triagem de e-mails com Inteligência Artificial.
          Classifique mensagens como produtivas ou improdutivas e receba
          respostas sugeridas automaticamente.
        </p>

        <a href="/app" class="landing-button">Começar</a>
      </div>
    </main>
  </body>
</html>
